.form-builder-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    .input-container  {
        margin: 0;
    }

    .header{
        position: sticky;
        top: 61px;
        z-index: 1;
        padding-top: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 10px;
        .saving-indicator{
            top: 34px;
        }
    }
}

.question-number {
    color: #007bff;
}

.add-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}
.reset-btn{
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 10px 0;
}



.questions-list {
    margin-top: 20px;
}

.question-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Error styling */
.error {
    .question-number {
        color: red;
    }
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.expanded {
    background: #f8f9fa;
}

.question-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    align-items: center;
}

.toggle-arrow {
    font-size: 20px;
    width: 20px;
    color: #a0a0a0;
}

.action-btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.delete-btn {
    color: #a0a0a0;
}

/* Responsive */
@media (max-width: 768px) {
    .form-builder-container {
        padding: 15px;
        max-width: 100%;

    }

    .question-card {
        padding: 10px;
    }

    .add-btn {
        text-align: center;
        &.disabled{
            opacity: .3;
        }
    }


    .question-header {
        align-items: flex-start;
    }

    .toggle-arrow {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .form-builder-container{
        .header{
            flex-wrap: wrap;
            padding-bottom: 30px;
            .saving-indicator{
                top: 83%;
                left: 49%;
                transform: translate(-40px, 0);
            }
        }
        .add-btn {
            width: 100%;
            margin: 0;
        }
        .reset-btn {
            width: 100%;
            margin: 0;
        }
    }
    .question-card {
        padding: 8px;
    }

    .add-btn {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .form-builder-container{
        .header {
            top: 82px;
        }
    }

}
